[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ReportSubtotal"]
	path = ReportSubtotal
	url = https://github.com/cran/ReportSubtotal
